@{
    ViewData["Title"] = "Создание пользователя";
}

<h1>Создайте аккаунт</h1>

<form asp-action="CreateUser" method="post">
    <input type="hidden" name="phone" value="@ViewBag.Phone" />
    <label for="name">Введите имя:</label>
    <input type="text" id="name" name="name" required />
    <button type="submit">Создать</button>
</form>